<!-- libro.component.html -->
<form (ngSubmit)="onSubmit()" #formLibro="ngForm">
    <div>
      <label for="isbn">ISBN:</label>
      <input
        id="isbn"
        name="isbn"
        type="text"
        required
        [(ngModel)]="book.isbn"
        #isbnField="ngModel">
      <div *ngIf="isbnField.invalid && isbnField.touched" style="color:red">
        El ISBN es obligatorio.
      </div>
    </div>
  
    <div>
      <label for="title">Título:</label>
      <input
        id="title"
        name="title"
        type="text"
        required
        [(ngModel)]="book.title"
        #tituloField="ngModel">
      <div *ngIf="tituloField.invalid && tituloField.touched" style="color:red">
        El título es obligatorio.
      </div>
    </div>
  
    <button type="submit" [disabled]="formLibro.invalid">Guardar Libro</button>
  </form>
